<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Bootstrap, from Twitter</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">

<!-- Le styles -->
<link href="../css/bootstrap.css" rel="stylesheet">
<link href="../css/core.css" rel="stylesheet">
<style>

</style>
<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<!-- Le fav and touch icons -->
<link rel="shortcut icon" href="bootstrap/ico/favicon.ico">
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="bootstrap/ico/apple-touch-icon-144-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="bootstrap/ico/apple-touch-icon-114-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="bootstrap/ico/apple-touch-icon-72-precomposed.png">
<link rel="apple-touch-icon-precomposed" href="bootstrap/ico/apple-touch-icon-57-precomposed.png">
</head>

<body>
  <div class="container body-container">

    <header class="jumbotron subhead" id="overview">
      <div class="row">
        <div class="span6">
          <h1>Scaffolding</h1>
          <p class="lead">Bootstrap is built on a responsive 12-column grid. We've also included fixed- and fluid-width layouts based on that system.</p>
        </div>
        <div class="span3">
          <div class="well">
            <h3>Hello, world!</h3>
          </div>
        </div>
        <div class="span3">
            <h3>Hello, world!</h3>
        </div>
      </div>
      <div class="navbar" id="main-navbar">
        <div class="navbar-inner">
          <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </a>
            <a class="brand" href="#">Project name</a>
            <div class="nav-collapse">
              <ul class="nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li class="nav-header">Nav header</li>
                    <li><a href="#">Separated link</a></li>
                    <li><a href="#">One more separated link</a></li>
                  </ul>
                </li>
              </ul>
              <form class="navbar-search pull-left" action="">
                <input type="text" class="search-query span2" placeholder="Search">
              </form>
              <ul class="nav pull-right">
                <li>
                  <a href="#" rel="tooltip" data-original-title="first tooltip">tooltip</a>
                </li><li>
                <li class="divider-vertical"></li>
                <li>
                  <a target="_blank" href="http://sighttp.qq.com/authd?IDKEY=e88d137fe60a7358b97c1ab403830b1bdbc215456bb039d3" rel="tooltip" title="点击这里给我发消息" class="qq-link">
                    <img border="0" src="http://wpa.qq.com/imgd?IDKEY=e88d137fe60a7358b97c1ab403830b1bdbc215456bb039d3&amp;pic=41" alt="点击发QQ消息" >
                  </a>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">管理 <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">后台</a></li>
                    <li><a href="#">退出</a></li>
                    <li class="divider"></li>
                    <li><a href="#">清除本页缓存</a></li>
                    <li><a href="#">清除所有页面缓存</a></li>
                  </ul>
                </li>
              </ul>
            </div><!-- /.nav-collapse -->
          </div>
        </div><!-- /navbar-inner -->
      </div>
      <div class="alert alert-info line-alert">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <strong>Warning!</strong> Best check yo self, you're not looking too good.
      </div>
    </header>
    <!-- main -->
    <div class="row">
      <div class="span8 offset2">
      	<legend>找回密码</legend>
      	<div class="well">
				<form class="form-horizontal">
				    <div class="controls">
						<label class="radio">
						  <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
						  将重置密码链接发送至我的邮箱：at1943@gmail.com
						</label>
				      <input type="text" id="inputPassword" placeholder="Password">
				      <span class="help-block">请重复输入您的上述提示的邮箱地址</span>
				    </div>
				    <div class="controls">
						<label class="radio">
						  <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
						  我无法通过以上方式找回密码，通过填写找回密码申请表来验证我的身份
						</label>
						<label>验证码</label>
				      <input type="text" id="inputPassword" placeholder="Password">
				      <span class="help-block">请重复输入您的上述提示的邮箱地址</span>
				    </div>
				    <div class="controls">
				      <label class="checkbox">
				        <input type="checkbox"> Remember me
				      </label>
				      <button type="submit" class="btn">下一步</button>
				    </div>
				</form>
      	</div>
      	<div class="row">
      		<h6>没有收到确认邮件，怎么办？</h6>
      		<p>1.看看是否在邮箱的回收站中、垃圾邮件中</p>
      		<p>2.确认没有收到，点此<a href="#">重发一封</a></p>
      		<p>3.也可以试试更换邮箱地址，点击这里<a href="#">更换邮箱</a></p>
      	</div>
      </div><!--/span-->
    </div>
	<hr>
    <footer class="footer">
      <p class="pull-right"><a href="#">Back to top</a></p>
      <p>Designed and built with all the love in the world <a href="http://twitter.com/twitter" target="_blank">@twitter</a> by <a href="http://twitter.com/mdo" target="_blank">@mdo</a> and <a href="http://twitter.com/fat" target="_blank">@fat</a>.</p>
      <p>Code licensed under the <a href="http://www.apache.org/licenses/LICENSE-2.0" target="_blank">Apache License v2.0</a>. Documentation licensed under <a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>.</p>
      <p>Icons from <a href="http://glyphicons.com">Glyphicons Free</a>, licensed under <a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>.</p>
    </footer>
  </div> <!-- /container -->

  <!-- Le javascript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
<script src="../js/jquery-1.8.2.js"></script>
<script src="../js/bootstrap.js"></script>
<script type="text/javascript">
$(function() {
  $('a[rel=tooltip]').tooltip();//tooltip

// fix sub nav on scroll
  var $win = $(window)
    , $nav = $('#main-navbar')
    , navTop = $nav.length && $nav.offset().top
    , isFixed = 0;

  processScroll()

  // hack sad times - holdover until rewrite for 2.1
  $nav.on('click', function () {
    if (!isFixed) setTimeout(function () {  $win.scrollTop($win.scrollTop() - 47) }, 10)
  })

  $win.on('scroll', processScroll)

  function processScroll() {
    var i, scrollTop = $win.scrollTop()
    if (scrollTop >= navTop && !isFixed) {
      isFixed = 1
      $nav.addClass('navbar-fixed-top')
    } else if (scrollTop <= navTop && isFixed) {
      isFixed = 0
      $nav.removeClass('navbar-fixed-top')
    }
  }
});
</script>

</body>
</html>
