#doc1 {
	width: 100%
}

.layrow-left {
	float: left;
	width: 713px
}

.layrow-right {
	float: right;
	width: 277px
}

body {
	font-family: "\5FAE\8F6F\96C5\9ED1"
}

#bd {
	width: 100%
}

#hd {
	margin-bottom: 0
}

#bd .layrow {
	width: 990px;
	margin: 0 auto
}

#nav {
	margin-bottom: 0 !important
}

.p-huihui-index #nav .bd,.p-huihui-index-mail #nav .bd {
	border-bottom: 0 none
}

.p-cshop #doc2 #bd {
	margin-top: 20px
}

.hui-list {
	font-size: 14px;
	line-height: 23px;
	margin-right: 25px;
	padding-top: 2px
}

.hui-list li {
	margin: 15px 0 20px;
	padding: 0;
	padding-bottom: 20px;
	background-position: 0 bottom;
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-o-transition: all .3s ease-out
}

.hui-list h3 {
	font-size: 26px;
	line-height: 30px;
	font-weight: bold;
	_font-family: "\9ED1\4F53";
	height: 30px;
	padding-left: 8px;
	margin: 10px 0;
	overflow: hidden;
	word-wrap: break-word
}

.hui-list h3 a {
	color: #333;
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out
}

.hui-list h3 a:hover {
	color: #000;
	text-decoration: none
}

.hui-list .current h3 a {
	color: #000;
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out
}

.hui-list .current h3 a:hover {
	color: #000
}

.hui-list h3.passdue {
	position: relative;
	zoom: 1
}

.hui-list h3.passdue a {
	display: block;
	margin-right: 122px
}

.hui-list h3.passdue .passdue-text {
	position: absolute;
	top: 0;
	right: 0
}

.hui-list h4 {
	color: #fd8104;
	font-size: 18px;
	font-weight: bold;
	line-height: 22px;
	height: 22px;
	padding-left: 8px;
	margin-bottom: 10px;
	overflow: hidden;
	word-wrap: break-word;
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out
}

.hui-list .current h4 {
	color: #e67402;
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out
}

.hui-list .list-info {
	color: #999;
	margin-bottom: 10px;
	padding-left: 8px
}

.hui-list .linfo-category {
	float: left;
	line-height: 19px;
	height: 19px;
	padding: 0 0 0 6px;
	background-position: 0 -40px;
	cursor: pointer
}

.hui-list .linfo-category span {
	float: left;
	color: #999;
	padding-right: 15px;
	margin: 0;
	white-space: nowrap;
	background-position: right -40px
}

.hui-list .linfo-category:hover {
	color: #666;
	text-decoration: none;
	background-position: 0 -70px
}

.hui-list .linfo-category:hover span {
	background-position: right -70px
}

.hui-list .linfo-time,.hui-list .linfo-name,.hui-list .linfo-user,.hui-list .linfo-read
	{
	float: left;
	_display: inline;
	margin-left: 10px;
	padding-left: 42px;
	background-position: -612px -194px
}

.hui-list .linfo-name {
	margin-left: 20px;
	background-position: -612px -228px;
	border-left: 1px solid #e6e6e6
}

.hui-list .linfo-user {
	margin-left: 20px;
	background-position: -612px -160px;
	border-left: 1px solid #e6e6e6
}

.hui-list .linfo-read {
	margin-left: 20px;
	background-position: -612px -264px;
	border-left: 1px solid #e6e6e6
}

.hui-list .huili-relevant-cai a,.hui-list .huili-relevant-ding,.hui-list .huili-relevant-share
	{
	display: inline-block;
	font-family: "\5FAE\8F6F\96C5\9ED1";
	font-weight: bold;
	color: #ccc;
	line-height: 22px;
	height: 23px;
	padding: 4px 7px 0;
	background-color: #f5f5f5
}

.hui-list .hico-cai,.hui-list .hico-ding {
	display: inline-block;
	width: 16px;
	height: 18px;
	margin: 0 5px;
	vertical-align: top;
	background-position: -60px -50px
}

.hui-list a:hover .hico-cai {
	background-position: -60px -25px
}

.hui-list .hico-ding {
	background-position: -35px -50px
}

.hui-list a:hover .hico-ding {
	background-position: -35px -25px
}

.hui-list .huili-relevant-share {
	padding: 5px 5px 0 0;
	height: 22px;
	width: 32px;
	overflow: hidden;
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out
}

.hui-list .current .huili-relevant-share-current {
	width: 150px;
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out
}

.hui-list .huili-relevant-share a {
	float: right;
	width: 16px;
	height: 20px;
	margin: 0 2px 0 5px;
	text-indent: -999em;
	overflow: hidden
}

.hui-list .huili-relevant-share a.share-link-sina {
	width: 23px;
	background-position: -102px -500px
}

.hui-list .huili-relevant-share a.share-link-sina:hover {
	background-position: -102px -525px
}

.hui-list .huili-relevant-share a.share-link-kaixin {
	background-position: -80px -500px
}

.hui-list .huili-relevant-share .share-link-kaixin:hover {
	background-position: -80px -525px
}

.hui-list .huili-relevant-share .share-link-renren {
	background-position: -60px -500px
}

.hui-list .huili-relevant-share .share-link-renren:hover {
	background-position: -60px -525px
}

.hui-list .huili-relevant-share .share-link-douban {
	background-position: -40px -500px
}

.hui-list .huili-relevant-share .share-link-douban:hover {
	background-position: -40px -525px
}

.hui-list .huili-relevant-share .share-link-tencent {
	background-position: -20px -500px
}

.hui-list .huili-relevant-share .share-link-tencent:hover {
	background-position: -20px -525px
}

.hui-list .huili-relevant-share .share-link-qqkongjian {
	background-position: 0 -500px
}

.hui-list .huili-relevant-share .share-link-qqkongjian:hover {
	background-position: 0 -525px
}

.hui-list .ico-show {
	float: right;
	width: 8px;
	height: 10px;
	margin: 10px 5px 0 0;
	background-position: -105px -60px
}

.hui-list .current .ico-show {
	background-position: -115px -60px
}

.relevant-tips {
	display: none;
	background-color: #fff;
	position: absolute;
	top: -56px;
	right: 0;
	width: 223px;
	height: 47px;
	border: 1px solid #c3c3c3;
	line-height: 47px
}

.share-current .relevant-tips {
	display: block
}

.relevant-tips p {
	position: relative;
	margin: 0 10px;
	top: 0;
	zoom: 1;
	text-align: left
}

.relevant-tips a {
	background-color: #fd8712;
	display: block;
	position: absolute;
	width: 96px;
	height: 33px;
	text-decoration: none;
	text-align: center;
	color: #fff;
	top: 5px;
	left: 110px;
	line-height: 33px
}

.huili-relevant-comment {
	display: inline-block;
	font-family: "\5FAE\8F6F\96C5\9ED1";
	font-weight: bold;
	line-height: 20px;
	height: 33px;
	padding-left: 8px;
	background-position: 0 0
}

.huili-relevant-comment span {
	display: inline-block;
	color: #fff;
	line-height: 27px;
	height: 33px;
	padding-right: 8px;
	background-position: right 0
}

.hui-list .hui-list-relevant {
	position: relative
}

.hui-list .hui-list-relevant a:hover {
	color: #ccc;
	text-decoration: none
}

.hui-list .hui-list-relevant .huili-relevant-comment:hover {
	color: #fff
}

.mod-deliver {
	color: #333;
	margin-top: 25px
}

.mod-deliver a,.mod-deliver a:hover {
	color: #fd8712
}

.mod-deliver .hd h2 {
	float: left;
	width: 150px;
	height: 150px;
	background-position: -160px -20px;
	background-color: #fe8713;
	text-indent: -999em;
	overflow: hidden
}

.mod-deliver .hd .dsc-bd {
	float: left;
	line-height: 23px;
	width: 482px;
	height: 130px;
	padding: 18px 25px 0;
	border: 1px solid #e8e8e8;
	border-left: 0 none;
	background-color: #f7f7f7
}

.mod-deliver .hd .dsc-bd em {
	display: block;
	font-size: 14px;
	margin-bottom: 10px
}

.mod-deliver .hd .dsc-bd b {
	color: #fd8712
}

.mod-deliver .hd .dsc-ft {
	display: block;
	width: 684px;
	height: 12px;
	background-position: 0 0;
	overflow: hidden
}

.mod-deliver .explain {
	padding: 0 0 0 20px
}

.mod-deliver .explain h3 {
	font-size: 14px;
	font-weight: bold;
	margin: 20px 0 5px
}

.mod-deliver .explain p {
	color: #666;
	margin-right: 20px
}

.mod-deliver .dsc-form {
	border-top: 1px solid #f5f5f5;
	border-bottom: 1px solid #f5f5f5;
	padding: 25px 0 25px 28px;
	margin: 30px 0
}

.mod-deliver .dsc-form .row {
	padding: 10px 0
}

.mod-deliver .dsc-form label {
	display: inline-block;
	vertical-align: middle;
	width: 82px
}

.mod-deliver .dsc-form input,.mod-deliver .dsc-form img {
	vertical-align: middle
}

.mod-deliver .dsc-form .input-l {
	font-size: 15px;
	padding: 10px
}

.mod-deliver .dsc-form .input-s {
	width: 550px;
	padding: 10px
}

.mod-deliver .dsc-form .textarea-s {
	line-height: 23px;
	padding: 0 0 0 10px;
	width: 560px;
	resize: none
}

.mod-deliver .dsc-form .row span {
	margin-left: 10px
}

.mod-deliver .dsc-form-ft {
	margin: 10px 0 30px 114px
}

.mod-deliver .dsc-form-ft input {
	display: block;
	font-size: 14px;
	color: #fff;
	line-height: 20px;
	text-align: center;
	width: 95px;
	_height: 35px;
	border: 0;
	background-color: #fd8712
}

.mod-deliver-dialog {
	width: 450px
}

.mod-deliver-dialog .bd {
	font-size: 14px;
	text-align: center;
	padding: 20px 20px 0
}

.mod-deliver-dialog p {
	font-size: 12px;
	padding: 15px 75px 0
}

.mod-deliver-dialog .ft {
	text-align: center
}

.mod-deliver-dialog .ft .btn04 {
	margin: 0 10px
}

.row-code {
	position: relative;
	zoom: 1
}

.row-code .dtips {
	left: 400px;
	top: 17px
}

.mod-hsider {
	background-color: #f5f5f5;
	width: 277px;
	padding-top: 25px
}

.mod-hsider h2 a {
	display: block;
	text-indent: -9999px;
	width: 150px;
	height: 32px
}

.mod-hsider a.sider-more {
	position: absolute;
	top: 7px;
	right: 15px;
	font-size: 12px;
	color: #999
}

.mod-hsider a.sider-more:hover {
	color: #fd8712;
	text-decoration: none
}

#topPoster {
	width: 990px;
	margin: 0 auto 5px
}

#top {
	background-color: #f5f6f6;
	height: 30px;
	border-bottom: 1px solid #eee
}

#top .bd {
	color: #666;
	width: 990px;
	margin: 0 auto;
	padding-top: 5px;
	line-height: 25px
}

#top a,#top a:hover {
	color: #666
}

#top .sp {
	color: #c9c9c9;
	margin: 0 10px
}

#top .sctop-nav {
	display: none;
	float: left
}

#top .sctop-nav a {
	color: #333;
	margin-right: 15px
}

#top .sctop-nav a:hover {
	color: #333
}

#top .sctop-ctn {
	float: right
}

#top .sctop-ctn a {
	margin-left: 15px
}

#top .welinfo-show-ctn a {
	margin-left: 0
}

#top .sctop-user,#top .sctop-usered,#top .sctop-usered .sctop-title,#top .sctop-usered .welinfo-exit,#top .sctop-order,#top .sctop-help,#top .sctop-line,#top .sctop-msgwrap
	{
	float: left;
	_display: inline
}

#top .sctop-usered {
	margin-top: 1px\9
}

#top .sctop-usered .welinfo {
	float: left;
	position: relative;
	top: 1px;
	z-index: 999;
	margin-right: 8px;
	zoom: 1
}

#top .sctop-usered a.welinfo-name {
	float: left;
	font-weight: normal;
	line-height: 21px;
	height: 21px;
	padding-left: 6px;
	background-position: 0 -355px;
	cursor: pointer;
	overflow: hidden;
	margin-left: 0
}

#top .sctop-usered a:hover {
	text-decoration: none
}

#top .sctop-usered a.welinfo-name b {
	float: left;
	padding-right: 15px;
	background-position: right -355px
}

#top .sctop-usered .welinfo-exit:hover {
	text-decoration: underline
}

#top .sctop-usered .welinfo-show {
	display: none;
	position: absolute;
	top: 20px;
	left: 0;
	width: 100%;
	_width: auto
}

#top .sctop-usered .welinfo.active .welinfo-show {
	display: block
}

#top .sctop-usered .welinfo-show-ctn {
	background-color: #fff;
	border: 1px solid #ddd;
	padding: 1px
}

#top .sctop-usered .welinfo-show a {
	display: block;
	padding: 0 8px 0 6px;
	line-height: 22px
}

#top .sctop-usered .welinfo-show a.welinfo-namewidth {
	display: none;
	_display: block;
	_margin-top: -21px;
	_padding: 0 14px 0 6px;
	_visibility: hidden
}

#top .sctop-usered .welinfo-show a:hover {
	color: #fff;
	background-color: #fd8712
}

#top .sctop-msgwrap {
	margin: 0 -5px
}

#top .sctop-msg {
	float: left;
	position: relative;
	right: 0;
	z-index: 999;
	zoom: 1
}

#top .sctop-msg a.msg {
	position: relative;
	display: block;
	z-index: 2;
	top: -1px;
	*top: 0;
	padding: 0 2px 0 8px;
	border: 1px solid #f5f6f6;
	border-bottom: 0 none;
	background-color: #f5f6f6;
	white-space: nowrap
}

#top .sctop-msg a.msg:hover {
	text-decoration: none
}

#top .sctop-msg a.msg.current {
	border-color: #fd8712;
	background-color: #fff;
	-moz-box-shadow: 1px 0 0 #d2d2d2;
	-webkit-box-shadow: 1px 0 0 #d2d2d2;
	box-shadow: 1px 0 0 #d2d2d2
}

#top .sctop-msg b {
	color: #ef8b10
}

#top .sctop-msg a.msg i {
	font-style: normal
}

#top .sctop-msg a.no-msg i {
	display: none
}

#top .sctop-msg a.msg .ico-more-up,#top a.sctop-help-alink .ico-more-down
	{
	display: block;
	background-position: right -269px
}

#top .show-msg {
	position: absolute;
	z-index: 1;
	top: 24px;
	*top: 25px;
	right: 0;
	width: 151px;
	background-color: #FFF;
	border: 1px solid #fd8712;
	-moz-box-shadow: 1px 1px 0 #d2d2d2;
	-webkit-box-shadow: 1px 1px 0 #d2d2d2;
	box-shadow: 1px 1px 0 #d2d2d2
}

#top .msg-no-info {
	_right: -1px
}

#top .show-msg a {
	text-decoration: none
}

#top .show-msg a.show-msg-ctn {
	display: block;
	color: #333;
	cursor: pointer;
	margin: 0;
	padding: 2px 0 1px 10px
}

#top a.show-msg-ctn:hover {
	color: #333;
	background: #fff2d9
}

#top .show-msg-title {
	display: inline-block;
	width: 90px
}

#top .show-msg b {
	display: inline-block;
	width: 40px;
	text-align: right
}

#top .show-msg .ignore {
	display: block;
	text-align: right
}

#top .show-msg .ignore a {
	display: inline-block;
	color: #666;
	margin: 3px 0 0;
	padding: 0 5px;
	background-color: #e8e8e8
}

#top .show-msg .ignore a:hover {
	color: #c00;
	text-decoration: none
}

#top .sctop-msg .msg-no-info-ctn {
	text-align: center;
	padding: 15px 0
}

#top .sctop-help {
	position: relative;
	z-index: 99;
	margin: 0 0 0 -5px;
	zoom: 1
}

#top a.sctop-help-alink {
	position: relative;
	display: block;
	z-index: 99;
	top: -1px;
	*top: 0;
	width: 63px;
	padding: 0 2px 0 8px;
	border: 1px solid #f5f6f6;
	border-bottom: 0 none;
	background-color: #f5f6f6;
	white-space: nowrap
}

#top a.sctop-help-alink:hover {
	text-decoration: none
}

#top .current a.sctop-help-alink {
	border-color: #fd8712;
	background-color: #fff;
	-moz-box-shadow: 1px 0 0 #d2d2d2;
	-webkit-box-shadow: 1px 0 0 #d2d2d2;
	box-shadow: 1px 0 0 #d2d2d2
}

#top .show-sctop-help {
	display: none;
	position: absolute;
	z-index: 1;
	top: 20px;
	left: 15px;
	width: 73px;
	background-color: #FFF;
	border: 1px solid #fd8712;
	-moz-box-shadow: 1px 1px 0 #d2d2d2;
	-webkit-box-shadow: 1px 1px 0 #d2d2d2;
	box-shadow: 1px 1px 0 #d2d2d2
}

#top .current .show-sctop-help {
	display: block
}

#top .show-sctop-help a {
	display: block;
	color: #333;
	text-decoration: none;
	cursor: pointer;
	width: 63px;
	margin: 0;
	padding: 2px 0 1px 10px
}

#top .show-sctop-help a:hover {
	color: #333;
	background: #fff2d9
}

#top .top-share {
	float: right;
	height: 24px;
	overflow: hidden
}

#top .sctop-baoliao {
	float: left
}

#logo {
	float: left;
	width: 220px;
	height: 80px;
	margin-top: 11px
}

#logo a {
	display: block;
	width: 220px;
	height: 80px;
	overflow: hidden
}

#logo a img {
	display: block;
	width: 220px;
	height: 80px
}

.mod-search-box {
	float: right;
	_display: inline;
	width: 730px;
	margin: 30px 10px 0 0;
	height: 50px
}

.mod-search-box input:focus {
	outline: 0
}

.mod-search-box .sbox-ctn {
	position: relative;
	z-index: 50;
	top: 0;
	float: left;
	width: 660px;
	height: 48px;
	background-position: 0 0;
	border-top: 1px solid #c0c0c0;
	border-left: 1px solid #c0c0c0;
	border-bottom: 1px solid #d5d5d5;
	overflow: hidden
}

.mod-search-box .search-value {
	position: absolute;
	top: 10px;
	_top: 12px;
	padding-left: 15px;
	margin-left: -1px;
	font-size: 18px;
	line-height: 18px;
	width: 641px;
	height: 18px;
	color: #666;
	font-family: 微软雅黑;
	border: 0;
	background: 0;
	background-image: url(about:blank) \9
}

.mod-search-box .search-btn {
	float: left;
	width: 64px;
	height: 50px;
	border: 0;
	background-color: #fd8712;
	background-position: 0 -55px;
	text-indent: -999em;
	overflow: hidden;
	cursor: pointer
}

.mod-search-box .search-btn:hover,.mod-search-box .search-btn-hover {
	background-position: -70px -55px
}

.mod-search-box .search-label {
	position: absolute;
	top: 14px;
	_top: 16px;
	left: 16px;
	color: #999;
	font-size: 14px;
	font-family: 微软雅黑;
	display: none
}

.ui-corner-all,.ui-corner-bottom,.ui-corner-left,.ui-corner-bl {
	border-bottom-left-radius: 0
}

.ui-corner-all,.ui-corner-bottom,.ui-corner-right,.ui-corner-br {
	border-bottom-right-radius: 0
}

.ui-corner-all,.ui-corner-top,.ui-corner-right,.ui-corner-tr {
	border-top-right-radius: 0
}

.ui-corner-all,.ui-corner-top,.ui-corner-left,.ui-corner-tl {
	border-top-left-radius: 0
}

.ui-widget-content {
	border-color: #ddd
}

.ui-state-hover,.ui-widget-content .ui-state-hover,.ui-widget-header .ui-state-hover,.ui-state-focus,.ui-widget-content .ui-state-focus,.ui-widget-header .ui-state-focus
	{
	background: 0;
	background-color: #ebebeb;
	border: 0;
	color: #000
}

.ui-menu .ui-menu-item a.ui-state-hover,.ui-menu .ui-menu-item a.ui-state-active
	{
	margin: 0
}

#nav {
	padding-top: 12px;
	margin-bottom: 15px
}

#nav .bd {
	height: 45px;
	border-bottom: 2px solid #fd8712
}

#nav .ft {
	height: 43px;
	font-family: "微软雅黑"
}

#nav .bd-ctn,#nav .ft-ctn {
	width: 990px;
	margin: 0 auto
}

#nav .nav {
	float: left;
	width: 600px
}

#nav .nav li {
	float: left;
	text-align: center;
	width: 100px;
	height: 45px;
	margin-right: 39px
}

#nav .nav li.nav1 {
	width: 85px
}

#nav .nav li.nav2 {
	position: relative;
	z-index: 40;
	width: 112px
}

#nav .nav a {
	display: block;
	font-size: 14px;
	color: #333;
	width: 100%;
	height: 45px;
	background-color: #f9f9f9;
	text-indent: -999em;
	overflow: hidden
}

#nav .nav .nav1 a {
	background-position: 0 -110px
}

#nav .nav a.current,#nav .nav a:hover {
	background-color: #fd8712
}

#nav .nav .nav1 a:hover {
	background-position: 0 -210px
}

#nav .nav .nav1 a.current,#nav .nav .nav1 a.current:hover {
	background-position: 0 -160px
}

#nav .nav .nav2 a {
	background-position: -120px -110px
}

#nav .nav .nav2 a.current {
	background-position: -120px -160px
}

#nav .nav .nav2.navmall-active a,#nav .nav .nav2 a:hover,#nav .nav .nav2 a.current:hover,#nav .nav .nav2.navmall-active a.current
	{
	background-position: -120px -210px
}

#nav .nav .nav3 a {
	background-position: -260px -110px
}

#nav .nav .nav3 a:hover {
	background-position: -260px -210px
}

#nav .nav .nav3 a.current,#nav .nav .nav3 a.current:hover {
	background-position: -260px -160px
}

#nav .nav .nav4 a {
	background-position: -409px -110px
}

#nav .nav .nav4 a:hover {
	background-position: -409px -210px
}

#nav .nav .nav4 a.current,#nav .nav .nav4 a.current:hover {
	background-position: -409px -160px
}

#nav .nav-toolbar {
	margin: -3px 12px 0 0;
	margin-top: 0
}

#nav .nav-toolbar .nav-toolbar-rss,#nav .nav-toolbar .toolbar-collect,#nav .nav-toolbar .toolbar-weibo
	{
	float: right;
	width: 38px
}

#nav .nav-toolbar a {
	display: block;
	width: 38px;
	height: 39px;
	margin-left: 12px;
	text-indent: -999em;
	overflow: hidden
}

#nav .nav-toolbar .toolbar-weibo {
	background-position: 0 -270px
}

#nav .nav-toolbar .toolbar-weibo:hover {
	background-position: -150px -270px
}

#nav .nav-toolbar .toolbar-collect {
	background-position: -50px -270px
}

#nav .nav-toolbar .toolbar-collect:hover {
	background-position: -200px -270px
}

#nav .nav-toolbar .toolbar-rss {
	background-position: -100px -270px
}

#nav .nav-toolbar .toolbar-rss:hover,#nav .nav-toolbar .nav-toolbar-rss.active .toolbar-rss
	{
	background-position: -250px -270px
}

#nav .nav-toolbar .nav-toolbar-rss {
	position: relative;
	z-index: 50
}

#nav .nav-toolbar .toolbar-rss-show {
	display: none;
	position: absolute;
	top: 45px;
	right: -12px;
	color: #666;
	padding: 8px;
	background-color: #fff;
	border: 2px solid #c3c3c3
}

#nav .nav-toolbar .nav-toolbar-rss.active .toolbar-rss-show {
	display: block
}

#nav .nav-toolbar .rss-title {
	float: left;
	_display: inline;
	font-size: 13px;
	margin-left: 5px
}

#nav .nav-toolbar .toolbar-rss-show a {
	float: left;
	_display: inline;
	width: 16px;
	height: 17px;
	margin: 2px 15px 0 5px;
	background-position: -315px -270px
}

#nav .nav-toolbar .toolbar-rss-show .toolbar-google:hover {
	background-position: -315px -295px
}

#nav .nav-toolbar .toolbar-rss-show .toolbar-xianguo {
	background-position: -351px -270px
}

#nav .nav-toolbar .toolbar-rss-show .toolbar-xianguo:hover {
	background-position: -351px -295px
}

#nav .nav-toolbar .toolbar-rss-show .toolbar-youdao {
	background-position: -382px -270px
}

#nav .nav-toolbar .toolbar-rss-show .toolbar-youdao:hover {
	background-position: -382px -295px
}

#nav .nav-toolbar .toolbar-rss-show .toolbar-zhuaxia {
	background-position: -419px -270px
}

#nav .nav-toolbar .toolbar-rss-show .toolbar-zhuaxia:hover {
	background-position: -419px -295px
}

#nav .nav-toolbar .toolbar-rss-text {
	color: #666;
	font-size: 14px;
	font-family: "\5FAE\8F6F\96C5\9ED1";
	padding: 5px;
	width: 200px;
	margin-bottom: 10px;
	border: 1px solid #c0c0c0
}

#nav .nav-toolbar .rss-show-ico {
	width: 215px
}

#nav .ft ul {
	padding: 12px 0 0 27px
}

#nav .ft li {
	float: left;
	_display: inline;
	font-size: 14px;
	line-height: 18px;
	height: 18px;
	padding: 0 21px;
	border-right: 1px solid #e6e6e6
}

#nav .ft li.last {
	border-right: 0 none
}

#nav .ft li a {
	color: #666
}

#nav .ft li.current a,#nav .ft li a:hover {
	color: #fe7e00;
	text-decoration: none
}

#nav .nav2 .nav-mall {
	display: none;
	position: absolute;
	top: 45px;
	left: 0;
	text-align: left;
	width: 468px;
	background-color: #fff;
	border: 2px solid #fe8711
}

#nav .nav2.navmall-active .nav-mall {
	display: block
}

#nav .nav2 .bgtop {
	position: absolute;
	top: -2px;
	left: 0;
	width: 108px;
	height: 3px;
	background-color: #fffaf4;
	overflow: hidden
}

#nav .nav2 .nav-mall dl {
	line-height: 40px;
	height: 40px;
	border-bottom: 1px solid #f7f7f7;
	overflow: hidden
}

#nav .nav2 .nav-mall a {
	display: inline;
	background: 0;
	text-indent: 0
}

#nav .nav2 .nav-mall a:hover {
	color: #fd8712;
	text-decoration: none;
	background: 0
}

#nav .nav2 .nav-mall dt {
	float: left;
	width: 108px;
	padding-top: 2px;
	background-color: #fffaf4
}

#nav .nav2 .nav-mall dt a {
	display: block;
	font-size: 14px;
	color: #333;
	width: 108px;
	cursor: pointer
}

#nav .nav2 .nav-mall dd {
	float: left;
	line-height: 40px;
	height: 40px;
	padding-left: 19px;
	width: 340px;
	overflow: hidden
}

#nav .nav2 .nav-mall dd a {
	font-size: 12px;
	color: #333;
	white-space: nowrap
}

#nav .nav2 .nav-mall dd a:hover {
	color: #fd8712
}

#nav .nav2 .nav-mall dd span {
	color: #f7f7f7;
	margin: 0 9px
}

#nav .nav-mall dt span {
	display: block;
	line-height: 35px;
	_line-height: 38px;
	height: 35px;
	padding-left: 37px;
	overflow: hidden
}

#nav .nav-mall .iconh-cates-shopping {
	background-position: 13px -121px
}

#nav .nav-mall .current .iconh-cates-shopping {
	background-position: 13px -531px
}

#nav .nav-mall .iconh-cates-digital {
	background-position: 13px -155px
}

#nav .nav-mall .current .iconh-cates-digital {
	background-position: 13px -565px
}

#nav .nav-mall .iconh-cates-clothing {
	background-position: 13px -189px
}

#nav .nav-mall .current .iconh-cates-clothing {
	background-position: 13px -599px
}

#nav .nav-mall .iconh-cates-shoes {
	background-position: 13px -222px
}

#nav .nav-mall .current .iconh-cates-shoes {
	background-position: 13px -632px
}

#nav .nav-mall .iconh-cates-book {
	background-position: 13px -255px
}

#nav .nav-mall .current .iconh-cates-book {
	background-position: 13px -665px
}

#nav .nav-mall .iconh-cates-home {
	background-position: 13px -290px
}

#nav .nav-mall .current .iconh-cates-home {
	background-position: 13px -700px
}

#nav .nav-mall .iconh-cates-beauty {
	background-position: 13px -324px
}

#nav .nav-mall .current .iconh-cates-beauty {
	background-position: 13px -734px
}

#nav .nav-mall .iconh-cates-baby {
	background-position: 13px -358px
}

#nav .nav-mall .current .iconh-cates-baby {
	background-position: 13px -768px
}

#nav .nav-mall .iconh-cates-tuan {
	background-position: 13px -392px
}

#nav .nav-mall .current .iconh-cates-tuan {
	background-position: 13px -802px
}

#huihuiBanner {
	height: 258px;
	overflow: hidden;
	min-width: 990px
}

#huihuiBanner .tab-wrap {
	height: 252px;
	width: 100%;
	overflow: hidden;
	position: relative;
	z-index: 0
}

#huihuiBanner .hico-down {
	height: 51px;
	left: 166px;
	margin-left: 50%;
	overflow: hidden;
	position: absolute;
	text-indent: -9em;
	top: 98px;
	width: 51px;
	z-index: 999;
	display: block
}

#huihuiBanner .hico-down i {
	background-position: 0 -30px;
	height: 51px;
	left: 12px;
	width: 30px;
	position: absolute;
	top: 22px
}

#huihuiBanner .hico-down b {
	height: 51px;
	left: 0;
	position: absolute;
	top: 0;
	width: 51px;
	filter: Alpha(Opacity = 70);
	opacity: .7
}

#huihuiBanner .hico-down.active b {
	background-color: #fff;
	cursor: hand
}

#huihuiBanner .tab-nav {
	left: 469px;
	margin-left: 50%;
	position: absolute;
	top: 93px;
	z-index: 888
}

#huihuiBanner .tab-nav a {
	background-color: #e2e2e2;
	display: block;
	height: 10px;
	margin-bottom: 7px;
	overflow: hidden;
	text-indent: -9em;
	width: 10px
}

#huihuiBanner .tab-nav a.current {
	background-color: #fd8712
}

#huihuiBanner .tab-content-wrap {
	position: absolute;
	width: 100%;
	overflow: hidden;
	top: 0;
	height: 252px
}

#huihuiBanner .tab-content {
	height: 252px;
	width: 100%;
	position: relative;
	overflow: hidden
}

#huihuiBanner .tab-content .entity {
	background-color: #fff;
	width: 990px;
	height: 252px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
	z-index: 2
}

#huihuiBanner .tab-content img {
	display: block
}

#huihuiBanner .tab-content {
	background-color: #fc3
}

#huihuiBanner .tab-content .bg-left {
	background-color: #4da6ff;
	height: 252px;
	width: 50%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1
}

#huihuiBanner .shadow {
	background-position: 70% 0;
	height: 6px;
	overflow: hidden
}

#huihuiBanner .entity .right-anchor,#huihuiBanner .entity .left-anchor {
	display: block;
	height: 250px;
	position: absolute;
	text-indent: -9999px;
	z-index: 1
}

#huihuiBanner .entity .right-anchor {
	left: 710px;
	top: 1px;
	width: 250px
}

#huihuiBanner .entity .left-anchor {
	left: 2px;
	top: 1px;
	width: 710px
}

#huiList ul.hui-category {
	border-bottom: 1px solid #f5f5f5;
	margin-top: 10px;
	margin-left: -5px;
	position: relative;
	z-index: 2
}

#huiList li.h-category {
	float: left;
	width: 85px;
	margin-right: 20px
}

#huiList li.category-price {
	width: 110px
}

#huiList a.category-link {
	position: relative;
	top: 1px;
	display: block;
	width: 100%;
	height: 38px;
	text-indent: -999em;
	overflow: hidden;
	border-bottom: 2px solid transparent;
	cursor: pointer;
	_border-color: tomato;
	_filter: chroma(color = tomato)
}

#huiList a.category-link span {
	display: block;
	height: 38px
}

#huiList .h-category a.active {
	border-bottom: 2px solid #fd8712;
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out
}

#huiList .subcategory {
	display: none;
	position: absolute;
	top: 41px;
	left: 0;
	width: 713px;
	background-color: #f5f5f5;
	overflow: hidden
}

#huiList .current .subcategory {
	display: block
}

#huiList .subcategory ul {
	width: 760px
}

#huiList .subcategory li {
	float: left;
	padding: 2px 0 2px 16px;
	width: 160px;
	border-left: 1px solid #e9ebec;
	border-bottom: 1px solid #e9ebec
}

#huiList .subcategory li a {
	display: block;
	font-size: 14px;
	line-height: 40px;
	color: #949494
}

#huiList .subcategory li a span {
	display: inline-block;
	vertical-align: middle;
	width: 40px;
	height: 40px;
	margin-right: 20px;
	background-position: 0 -490px
}

#huiList .subcategory li a:hover {
	color: #fd8712;
	text-decoration: none
}

#huiList .subcategory li.notValid a,#huiList .subcategory li.notValid a
	{
	color: #e6e6e6;
	cursor: text
}

#huiList .subcategory li.notValid a .ico-subcategory-digital,#huiList .subcategory li.notValid a:hover .ico-subcategory-digital
	{
	background-position: -200px 0
}

#huiList .subcategory li.notValid a .ico-subcategory-sport,#huiList .subcategory li.notValid a:hover .ico-subcategory-sport
	{
	background-position: -200px -120px
}

#huiList .subcategory li.notValid a .ico-subcategory-dresses,#huiList .subcategory li.notValid a:hover .ico-subcategory-dresses
	{
	background-position: -160px 0
}

#huiList .subcategory li.notValid a .ico-subcategory-cosmetics,#huiList .subcategory li.notValid a:hover .ico-subcategory-cosmetics
	{
	background-position: -200px -40px
}

#huiList .subcategory li.notValid a .ico-subcategory-food,#huiList .subcategory li.notValid a:hover .ico-subcategory-food
	{
	background-position: -200px -80px
}

#huiList .subcategory li.notValid a .ico-subcategory-baby,#huiList .subcategory li.notValid a:hover .ico-subcategory-baby
	{
	background-position: -160px -80px
}

#huiList .subcategory li.notValid a .ico-subcategory-abroad,#huiList .subcategory li.notValid a:hover .ico-subcategory-abroad
	{
	background-position: -160px -40px
}

#huiList .subcategory li.notValid a .ico-subcategory-other,#huiList .subcategory li.notValid a:hover .ico-subcategory-other
	{
	background-position: -160px -120px
}

#huiList .subcategory li a:hover .ico-subcategory-digital {
	background-position: 0 0
}

#huiList .subcategory li a .ico-subcategory-digital {
	background-position: -40px 0
}

#huiList .subcategory li a .ico-subcategory-sport {
	background-position: -40px -120px
}

#huiList .subcategory li a:hover .ico-subcategory-sport {
	background-position: 0 -120px
}

#huiList .subcategory li a .ico-subcategory-dresses {
	background-position: -120px 0
}

#huiList .subcategory li a:hover .ico-subcategory-dresses {
	background-position: -80px 0
}

#huiList .subcategory li a .ico-subcategory-cosmetics {
	background-position: -40px -40px
}

#huiList .subcategory li a:hover .ico-subcategory-cosmetics {
	background-position: 0 -40px
}

#huiList .subcategory li a .ico-subcategory-food {
	background-position: -40px -80px
}

#huiList .subcategory li a:hover .ico-subcategory-food {
	background-position: 0 -80px
}

#huiList .subcategory li a .ico-subcategory-baby {
	background-position: -120px -80px
}

#huiList .subcategory li a:hover .ico-subcategory-baby {
	background-position: -80px -80px
}

#huiList .subcategory li a .ico-subcategory-abroad {
	background-position: -120px -40px
}

#huiList .subcategory li a:hover .ico-subcategory-abroad {
	background-position: -80px -40px
}

#huiList .subcategory li a .ico-subcategory-other {
	background-position: -120px -120px
}

#huiList .subcategory li a:hover .ico-subcategory-other {
	background-position: -80px -120px
}

#huiList .category-link .ico-category-all {
	background-position: 0 -380px
}

#huiList .category-link .ico-category-value {
	background-position: -85px -380px
}

#huiList .category-link .ico-category-weekly {
	background-position: -296px -380px
}

#huiList .category-link .ico-category-stategy {
	background-position: -190px -380px
}

#huiList .category-link .ico-category-huodong {
	background-position: -408px -380px
}

#huiList .category-link .ico-category-price {
	background-position: -528px -380px
}

#huiList a:hover .ico-category-all,#huiList .h-category a.active .ico-category-all
	{
	background-position: 0 -423px
}

#huiList a:hover .ico-category-value,#huiList .h-category a.active .ico-category-value
	{
	background-position: -85px -423px
}

#huiList a:hover .ico-category-stategy,#huiList .h-category a.active .ico-category-stategy
	{
	background-position: -190px -423px
}

#huiList a:hover .ico-category-weekly,#huiList .h-category a.active .ico-category-weekly
	{
	background-position: -296px -423px
}

#huiList a:hover .ico-category-huodong,#huiList .h-category a.active .ico-category-huodong
	{
	background-position: -408px -423px
}

#huiList a:hover .ico-category-price,#huiList .h-category a.active .ico-category-price
	{
	background-position: -528px -423px
}

#huiList .huihui-crumbs {
	height: 20px;
	line-height: 20px;
	border-left: 2px solid #fd8712;
	padding-left: 10px;
	margin: 11px 0 0 -5px;
	_margin-left: 0
}

#huiList .huihui-crumbs a {
	color: #7d7d7d;
	text-decoration: none
}

#huiList .huihui-crumbs .arraw {
	margin: 0 10px
}

.hui-list .hui-list-ctn {
	margin-top: 26px
}

.hui-list .hlist-list-pic {
	float: left;
	width: 260px;
	height: 240px;
	overflow: hidden
}

.hui-list .hlist-list-pic a {
	display: block;
	width: 260px;
	height: 245px;
	overflow: hidden
}

.hui-list .hlist-list-pic a img {
	display: block;
	width: 260px
}

.hui-list .hlist-list-text {
	position: relative;
	float: right;
	_display: inline;
	width: 380px;
	padding-right: 20px;
	text-align: justify
}

.hui-list .hlist-list-text a {
	color: #fd8712;
	text-decoration: none
}

.hui-list .hlist-list-text a:hover {
	color: #fd8712
}

.hui-list .hlist-list-text p {
	line-height: 24px;
	padding-bottom: 1em;
	text-indent: 2em;
	word-wrap: break-word;
	word-break: break-all
}

.hui-list .hlist-list-text .readmore {
	position: absolute;
	right: 12px;
	bottom: 3px;
	line-height: 19px;
	text-align: center;
	width: 79px;
	height: 19px;
	color: #fff;
	background-position: -478px -315px
}

.hui-list .readmore b {
	background: #fff;
	height: 19px;
	position: absolute;
	left: -15px;
	width: 15px
}

.hui-list .hlist-list-text .readmore:hover {
	color: #fff;
	background-position: -568px -315px;
	text-decoration: none
}

.hui-list .hlist-list-text {
	height: 230px;
	overflow: hidden;
	line-height: 23px
}

.hui-list .hui-list-btm {
	padding-top: 15px;
	position: relative
}

.hui-list .goto-shop {
	float: left;
	width: 96px;
	height: 27px;
	margin: 0 0 0 80px;
	background-position: -484px -80px;
	text-indent: -999em;
	overflow: hidden
}

.hui-list .goto-shop:hover {
	background-position: -484px -110px
}

.hui-list .hui-list-relevant {
	position: relative;
	width: 380px;
	float: right;
	_display: inline
}

.hui-list .huili-relevant-comment,.hui-list .huili-relevant-cai a,.hui-list .huili-relevant-ding
	{
	float: right;
	_display: inline;
	font-family: "\5FAE\8F6F\96C5\9ED1";
	font-weight: bold;
	line-height: 20px;
	text-align: center;
	margin-left: 2px
}

.hui-list .huili-relevant-cai a {
	float: none;
	display: block;
	margin: 0
}

.hui-list .huili-relevant-share {
	float: right;
	_display: inline
}

.hui-list .huili-relevant-cai {
	position: relative;
	float: right;
	margin-left: 2px;
	_width: 50px;
	white-space: nowrap
}

.hui-list .huili-relevant-cai-show {
	position: absolute;
	bottom: 30px;
	left: 0;
	width: 105px;
	height: 160px
}

.hui-list .ico-tips-down {
	position: absolute;
	bottom: -10px;
	left: 20px;
	height: 0;
	width: 0;
	overflow: hidden;
	font-size: 0;
	line-height: 0;
	border: 10px dashed transparent;
	border-top: 10px solid #f5f5f5
}

.hui-list .huili-relevant-cai-show a {
	color: #666;
	font-weight: normal;
	width: 95px;
	padding: 3px 0 3px 10px;
	text-align: left;
	border-top: 1px solid #fff
}

.hui-list .huili-relevant-cai-show a:hover {
	color: #666;
	background-color: #e6e6e6
}

#activityList dl,dt,dd {
	margin: 0;
	padding: 0
}

#activityList.activity-list {
	margin: 30px 30px 0 0
}

#activityList .activity-wrap {
	border: 1px solid #f5f5f5;
	padding: 15px 0 15px 15px;
	margin-bottom: 25px
}

#activityList h4 {
	color: #333;
	font-weight: bold;
	font-size: 26px;
	line-height: 35px;
	margin-bottom: 15px
}

#activityList h4 a {
	color: #333;
	text-decoration: none
}

#activityList h4 a:hover {
	color: #333
}

#activityList .pic {
	float: left;
	height: 200px;
	margin-right: 36px;
	width: 490px
}

#activityList .content {
	overflow: hidden;
	zoom: 1
}

#activityList .content .activity-shop {
	display: block;
	height: 47px;
	margin-bottom: 35px;
	width: 120px
}

#activityList dl {
	color: #b4b4b4
}

#activityList dl .situation {
	color: #8f8f8f
}

#activityList dt,#activityList dd {
	margin-bottom: 6px
}

#activityList dt {
	float: left
}

#activityList dd {
	overflow: hidden;
	zoom: 1
}

#activityList .goto-shop {
	background-position: -484px -80px;
	display: block;
	height: 27px;
	text-indent: -9999px;
	width: 96px
}

#activityList .goto-shop:hover {
	background-position: -484px -110px
}

.huihui-paging {
	text-align: center
}

.huihui-paging a,.huihui-paging span {
	background-color: #f5f5f5;
	border: 1px solid #fff;
	color: #999;
	display: inline-block;
	vertical-align: middle;
	font-size: 12px;
	line-height: 37px;
	overflow: hidden;
	margin: 0 3px;
	padding: 0 5px;
	text-decoration: none;
	text-align: center
}

.huihui-paging .pager-num,.huihui-paging span {
	width: 25px;
	height: 37px
}

.huihui-paging a:hover {
	border: 1px solid #fd8712;
	color: #fd8712;
	text-decoration: none
}

.huihui-paging a.current {
	border: 1px solid #fd8712;
	color: #fd8712
}

.huihui-paging .pager-prv,.huihui-paging .pager-next {
	height: 37px;
	width: 63px;
	padding: 0;
	overflow: hidden
}

.huihui-paging .pager-prv {
	background-position: -445px -240px
}

.huihui-paging .pager-next {
	background-position: -510px -240px
}

#newest {
	height: 20px;
	margin-top: 16px;
	overflow: hidden;
	padding-bottom: 14px
}

#newest .newest-tips {
	background-position: -160px -210px;
	display: block;
	float: left;
	height: 20px;
	width: 25px
}

#newest .newest-wrap {
	float: left;
	margin-left: 12px;
	height: 20px;
	width: 240px;
	line-height: 20px;
	overflow: hidden
}

#newest .newest-wrap a {
	color: #5e5e5e;
	display: block;
	height: 20px;
	text-decoration: none;
	width: 240px;
	overflow: hidden
}

#newest .newest-wrap a:hover {
	color: #fd8712;
	text-decoration: underline
}

#smallBanner {
	border: 1px solid #f5f5f5;
	position: relative;
	width: 275px;
	z-index: 0
}

#smallBanner ul {
	width: 275px;
	height: 225px;
	overflow: hidden
}

#smallBanner ul li {
	width: 275px;
	height: 225px
}

#smallBanner .tab-nav {
	position: absolute;
	right: 14px;
	top: 11px;
	z-index: 999
}

#smallBanner .tab-nav a {
	background-color: #e2e2e2;
	display: block;
	height: 10px;
	margin-bottom: 7px;
	overflow: hidden;
	text-indent: -9em;
	width: 10px
}

#smallBanner .tab-nav a.current {
	background-color: #fd8712
}

#shop {
	background-color: #f5f5f5;
	padding-top: 20px
}

#shop .hd {
	height: 37px;
	position: relative
}

#shop h2 {
	float: left;
	height: 32px;
	width: 110px;
	text-indent: -9999px
}

#shop h2 a {
	background-position: 0 0;
	display: block;
	height: 32px;
	width: 110px
}

#shop h2 a:hover {
	background-position: -215px 0
}

#shop .hd .howto {
	color: #a7a7a7;
	cursor: help;
	display: block;
	position: absolute;
	text-decoration: none;
	top: 8px;
	left: 138px
}

#shop .hd .howto:hover {
	color: #fea108
}

#shop .hd a .howto-ico {
	background-position: -130px -210px;
	display: block;
	float: left;
	height: 20px;
	width: 20px
}

#shop .shop-bd {
	margin-left: 17px;
	margin-bottom: 0
}

#shop .shop-bd .tab-wrap {
	margin-top: -5px
}

#shop .tab-nav-ctn a {
	border-top: 1px solid #f5f5f5;
	cursor: pointer;
	color: #5e5e5e;
	display: block;
	float: left;
	font-size: 14px;
	height: 32px;
	line-height: 32px;
	margin-top: 16px;
	padding: 0 22px 0;
	position: relative;
	text-decoration: none
}

#shop .tab-nav-ctn a.current {
	background-color: #fff;
	border-top: 1px solid #fea108
}

#shop .tab-content-wrap {
	width: 244px;
	overflow: hidden
}

#shop .tab-content {
	display: none;
	width: 246px
}

#shop .tab-content.current {
	display: block
}

#shop .tab-content li {
	border: 1px solid #f5f5f5;
	border-width: 0 1px 1px 0;
	float: left;
	height: 97px;
	width: 122px
}

#shop .tab-content li a {
	background-color: #fff;
	display: block;
	height: 97px;
	position: relative;
	text-align: center;
	text-decoration: none;
	width: 122px
}

#shop .tab-content li a img {
	position: absolute;
	left: 16px;
	top: 20px;
	width: 100px;
	height: 40px
}

#shop .tab-content li a span {
	color: #ccc;
	position: relative;
	font-size: 12px;
	top: 70px
}

#shop .tab-content li a:hover {
	border: 0
}

#shop .tab-content li a:hover span {
	color: #fea108
}

#shop .tab-content li.kf-more a:hover span {
	color: #ccc
}

#shop .tab-content li.kf-more a {
	cursor: default
}

#shop .shop-bd .see-all {
	background-color: #fff;
	border-bottom: 1px solid #ccc;
	color: #666;
	display: block;
	font-size: 12px;
	height: 38px;
	line-height: 38px;
	text-align: center;
	text-decoration: none;
	width: 244px
}

#shop .shop-bd .see-all:hover {
	color: #fd8712
}

#minisite {
	background-color: #f5f5f5
}

#minisite .hd {
	padding-top: 20px;
	position: relative;
	margin-bottom: 16px
}

#minisite h2 {
	height: 32px;
	width: 110px;
	text-indent: -9999px
}

#minisite h2 a {
	background-position: 0 -35px;
	display: block;
	height: 32px;
	width: 110px
}

#minisite h2 a:hover {
	background-position: -215px -35px
}

#minisite .hd p a {
	display: block;
	height: 27px;
	position: absolute;
	text-indent: -9999px;
	width: 27px
}

#minisite .hd .forward {
	background-position: -30px -210px;
	left: 235px;
	top: 19px
}

#minisite .hd .forward:hover {
	background-position: -90px -210px
}

#minisite .hd .backward {
	background-position: 0 -210px;
	left: 201px;
	top: 19px
}

#minisite .hd .backward:hover {
	background-position: -60px -210px
}

#minisite .minisite-bd {
	margin-left: 18px
}

#minisite .minisite-bd ul {
	width: 240px;
	height: 175px;
	overflow: hidden
}

#minisite .minisite-bd li {
	width: 240px;
	height: 175px
}

#ad {
	background-color: #f5f5f5
}

#ad ul {
	padding-top: 10px;
	text-align: center
}

#ad li {
	padding-top: 10px
}

#discount {
	background-color: #f5f5f5;
	padding-bottom: 20px;
	padding-top: 20px;
	width: 277px
}

#discount h2 {
	height: 32px;
	margin-bottom: 25px;
	text-indent: -9999px;
	width: 200px
}

#discount h2 a {
	background-position: 0 -70px;
	display: block;
	height: 32px;
	width: 200px
}

#discount h2 a:hover {
	background-position: -215px -70px
}

#discount ul {
	margin: 0 13px
}

#discount ul li {
	margin-bottom: 7px
}

#discount .pic {
	float: left;
	margin: 3px 16px 0 7px;
	_margin-left: 3px
}

#discount .pic span {
	display: block;
	width: 19px;
	height: 19px;
	position: absolute
}

#discount .pic .num.num1 {
	background-position: 0 0
}

#discount .pic .num.num2 {
	background-position: -20px 0
}

#discount .pic .num.num3 {
	background-position: -40px 0
}

#discount .pic .num.num4 {
	background-position: -60px 0
}

#discount .pic .num.num5 {
	background-position: -80px 0
}

#discount .content {
	overflow: hidden;
	zoom: 1
}

#discount .content a {
	color: #444343;
	display: block;
	max-height: 39px;
	_height: 39px;
	overflow: hidden;
	text-decoration: none
}

#discount .content a:hover {
	color: #fd8712
}

#discount .content .read {
	color: #a7a7a7;
	display: block
}

#discount .see-all {
	background-color: #fff;
	border-bottom: 1px solid #ccc;
	color: #666;
	display: block;
	font-size: 12px;
	height: 34px;
	line-height: 34px;
	margin: 0 13px;
	text-align: center;
	text-decoration: none;
	width: 244px
}

#discount .see-all:hover {
	color: #fd8712
}

#discount .sider-ad {
	margin: 25px 0 0 18px;
	display: none
}

#footer {
	color: #666;
	padding: 20px 0;
	text-align: center;
	line-height: 180%;
	border-top: 1px solid #e6e6e6
}

#footer a {
	color: #666;
	margin: 0 3px
}

#footer a:hover {
	color: #666
}

#newFeedback {
	position: fixed;
	_position: absolute;
	bottom: 0;
	left: 545px;
	margin-left: 50%;
	z-index: 999
}

#newFeedback .forward,#newFeedback .feedback-tips {
	position: absolute;
	text-indent: -999em;
	display: block;
	overflow: hidden;
	width: 33px;
	height: 33px;
	right: 12px
}

#newFeedback .forward {
	bottom: 35px;
	background-position: -129px 0;
	margin-bottom: 2px;
	display: none
}

#newFeedback .forward:hover {
	background-position: -86px 0
}

#newFeedback .content-wrap {
	width: 0;
	overflow: hidden;
	position: absolute;
	right: 45px;
	bottom: 0
}

#newFeedback .feedback-tips {
	bottom: 0;
	background-position: -172px 0
}

#newFeedback .feedback-tips:hover {
	background-position: -43px 0
}

#newFeedback .feedback-tips.active,#newFeedback .feedback-tips.active:hover
	{
	background-position: 0 0
}

#newFeedback .feedback-content {
	width: 339px;
	border: 2px solid #a42d2a;
	padding: 15px 22px;
	background-color: #f9f9f9;
	overflow: hidden
}

#newFeedback .title {
	font-weight: bold
}

#newFeedback .content-satisfied {
	margin-right: 15px
}

#newFeedback .text-suggestion,#newFeedback .text-contact {
	display: block;
	resize: none;
	outline: 0;
	color: #999;
	font-size: 12px
}

#newFeedback .contact-title {
	display: block
}

#newFeedback .text-suggestion {
	margin-top: 10px;
	margin-bottom: 12px;
	height: 100px;
	width: 328px;
	overflow: auto
}

#newFeedback .text-contact {
	margin-top: 10px;
	margin-bottom: 14px;
	width: 328px;
	overflow: auto;
	padding: 5px
}

#newFeedback .submit-area {
	width: 339px;
	text-align: right
}

#newFeedback .submit-area .submit-tips {
	float: left
}

#newFeedback .submit-area .submit-tips .tips-dailog {
	display: none
}

#loginGuide {
	position: fixed;
	_position: absolute;
	z-index: 99;
	bottom: 0;
	width: 100%;
	height: 90px;
	background: rgba(102, 102, 102, 0.9);
	*background: transparent;
	*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#E5666666,
		endColorstr=#E5666666 );
	-ms-filter:
		"progid:DXImageTransform.Microsoft.gradient(startColorstr=#E5666666,endColorstr=#E5666666)"
}

#loginGuide .bd {
	width: 990px;
	margin: 0 auto
}

#loginGuide .guide-login {
	float: left;
	_display: inline;
	margin-left: 10px;
	position: relative;
	padding-top: 45px;
	width: 500px
}

#loginGuide .guide-title {
	position: absolute;
	top: 10px;
	left: 40px;
	width: 375px;
	height: 40px;
	overflow: hidden
}

#loginGuide .guide-login h3 {
	width: 375px;
	height: 28px;
	text-indent: -999em;
	overflow: hidden
}

#loginGuide .guide-login h3.discuss-title {
	background-position: 0 -40px;
	_margin-top: -40px;
	_padding-top: 40px
}

#loginGuide .guide-login .input-s {
	vertical-align: middle;
	font-family: arial;
	padding: 9px;
	width: 163px
}

#loginGuide .input-psw {
	display: inline-block;
	position: relative;
	vertical-align: middle;
	width: 185px;
	zoom: 1
}

#loginGuide .input-psw span {
	position: absolute;
	top: 7px;
	_top: 9px;
	left: 10px;
	color: #999
}

#loginGuide .guide-login .btni04 {
	vertical-align: middle
}

#loginGuide .guide-register {
	float: right;
	position: relative;
	_display: inline;
	margin-right: 10px;
	width: 410px;
	text-align: center;
	padding-top: 12px
}

#loginGuide .guide-register b.guide-register-title {
	display: block;
	font-size: 14px;
	color: #fff;
	padding-bottom: 10px
}

#loginGuide .guide-register b.guide-register-title a {
	color: #fff;
	text-decoration: underline
}

#loginGuide .guide-register .btn04 {
	vertical-align: middle
}

#loginGuide .guide-register a.close-times {
	position: absolute;
	right: -3px;
	top: 14px;
	color: #444;
	font-family: simsun;
	font-size: 24px
}

#loginGuide .guide-register a.close-times:hover {
	color: #444;
	text-decoration: none
}

#loginGuide .h-btni01 {
	vertical-align: middle;
	position: relative;
	_top: 2px
}

#loginGuide .guide-oauth {
	padding: 6px 0 0;
	height: 35px;
	border-bottom: 1px solid #9b9b9b;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-moz-box-shadow: 2px 2px 2px #444 inset;
	-webkit-box-shadow: 2px 2px 2px #444 inset;
	box-shadow: 2px 2px 2px #444 inset;
	background: rgba(51, 51, 51, 0.5);
	*background: transparent;
	*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F333333,
		endColorstr=#7F333333 );
	-ms-filter:
		"progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F333333,endColorstr=#7F333333)";
	overflow: hidden
}

#loginGuide .guide-oauth-qq,#loginGuide .guide-oauth-tsina,#loginGuide .guide-oauth-more
	{
	display: inline-block;
	width: 139px;
	height: 0;
	padding-top: 29px;
	background-position: 0 -330px;
	margin: 0 5px;
	overflow: hidden
}

#loginGuide .guide-oauth-qq:hover {
	background-position: 0 -370px
}

#loginGuide .guide-oauth-tsina {
	background-position: -150px -330px
}

#loginGuide .guide-oauth-tsina:hover {
	background-position: -150px -370px
}

#loginGuide .guide-oauth-more {
	width: 76px;
	background-position: -300px -330px
}

#loginGuide .guide-oauth-more:hover {
	background-position: -300px -370px
}

#verifyphoneDialog {
	width: 480px
}

#verifyphoneDialog .bd {
	padding: 20px 20px 0
}

#verifyphoneDialog .row {
	position: relative;
	padding: 8px 0 5px
}

#verifyphoneDialog .row .label-title {
	display: inline-block;
	width: 120px;
	text-align: right
}

#verifyphoneDialog .row .dtips {
	position: absolute;
	top: 7px;
	left: 288px
}

#verifyphoneDialog .row.row-check-code .dtips {
	left: 200px
}

#verifyphoneDialog .check-code-tips,#verifyphoneDialog .check-code {
	padding: 0 0 0 126px
}

#verifyphoneDialog .check-code {
	padding-bottom: 8px
}

#verifyphoneDialog .ft {
	text-align: center
}

#verifyphoneDialog .ft .btni04,#verifyphoneDialog .ft .btni05 {
	margin: 0 5px
}

#fxOrderTips {
	display: none;
	width: 280px;
	z-index: 5
}

#fxOrderTips .relevant-fxordertips {
	display: block;
	width: 82px;
	height: 56px;
	margin: -10px auto 10px;
	background-position: -15px -190px
}

#fxOrderTips h5 {
	font-size: 14px;
	font-weight: bold;
	color: #333;
	margin-bottom: 6px
}

#loginDailog {
	width: 600px;
	padding: 0 0 20px
}

#loginDailog .hd {
	height: 35px
}

#loginDailog .oauth-login-ctn {
	float: left;
	width: 350px;
	padding-top: 37px;
	border-right: 1px solid #f0f0f0
}

#loginDailog .oauth-login-cooperation {
	float: left;
	_display: inline;
	width: 220px;
	margin-left: -1px;
	border-left: 1px solid #f0f0f0
}

#loginDailog .form-title {
	display: inline-block;
	width: 85px;
	text-align: right
}

#loginDailog .bd {
	padding: 0
}

#loginDailog .ft {
	margin-top: 0;
	padding: 0;
	background: 0;
	border: 0
}

#loginDailog .oauth-container {
	padding: 2px 0 0 25px
}

#loginDailog .oauth-container h2 {
	margin: 8px 0 0 28px
}

#loginDailog .oauth-container .ft {
	padding: 20px 0 0 28px
}

#loginDailog .login-state,#loginDailog .row-login-btn {
	margin-left: 101px;
	padding: 5px 0
}

#loginDailog .login-btn {
	margin-left: 53px
}

#loginDailog .notlogin {
	display: none
}

.login-container .row {
	padding: 10px 0
}

.login-container .login-state,.login-container .row-login-btn {
	margin: 5px 0 0 98px
}

.login-container .login-tip,.login-container .login-tip-psw {
	position: relative;
	z-index: 2;
	zoom: 1
}

.login-container .login-tiparea,.login-container .remember_psw1 {
	display: none;
	position: absolute;
	z-index: 2;
	font-size: 12px;
	line-height: 18px;
	color: #555;
	width: 213px;
	padding: 3px 7px;
	border: 1px solid #f9c3c3;
	background-color: #fae4e4
}

.login-container .login-tiparea {
	left: 98px;
	top: -114px
}

.login-container .remember_psw1 {
	top: 31px;
	left: -41px;
	width: 194px;
	padding: 5px 20px 5px 7px
}

.login-container .login-tiparea .error-state {
	padding: 7px 0 5px 30px;
	background-position: 0 -1998px
}

.login-container .login-tiparea .p-desc {
	color: #2b2b2b;
	padding: 5px 0 2px
}

.login-container .login-tiparea .p-desc2 {
	color: #ba2636;
	padding-left: 19px
}

.login-container .login-tiparea-top {
	position: absolute;
	left: 41px;
	top: -7px;
	width: 12px;
	height: 7px;
	background-position: -15px -2040px
}

.login-container .login-tiparea-bottom {
	position: absolute;
	left: 48px;
	top: 104px;
	width: 12px;
	height: 7px;
	background-position: 0 -2040px
}

.login-container .login-tiparea-close {
	position: absolute;
	top: 8px;
	right: 5px;
	color: #18c;
	text-indent: -9999px;
	width: 9px;
	height: 9px;
	background-position: 0 -2030px;
	overflow: hidden;
	cursor: pointer
}

.login-container .login-tiparea-close:hover {
	background-position: -10px -2030px
}

.login-container .remember_psw1 p {
	margin: 3px 0
}

.login-container .row .notlogin {
	display: inline-block;
	vertical-align: bottom;
	margin-left: 20px
}

.login-container .sp {
	color: #e5e5e5;
	margin: 0 10px
}

.login-container .account_suggest_ctn {
	display: none;
	position: absolute;
	z-index: 2;
	left: 0;
	top: 0;
	background-color: #fff;
	border: 1px solid #ddd;
	overflow: hidden
}

.login-container .account_suggest_ctn li {
	cursor: default;
	font-size: 12px;
	height: 18px;
	line-height: 18px;
	padding: 0 5px
}

.login-container .account_suggest_ctn li.title {
	background-color: #f6f6f6;
	color: #2b2b2b
}

.login-container .account_suggest_ctn li.on {
	background-color: #d5f1ff
}

.oauth-container {
	padding: 2px 20px
}

.oauth-container .hd {
	border: 0
}

.oauth-container .hd h2 {
	font-size: 12px;
	font-weight: normal;
	background-position: 0 -160px
}

.oauth-dialog .oauth-container .hd h2 {
	background: 0
}

.oauth-container .bd {
	border: 0;
	text-align: center;
	padding: 20px 30px 0
}

.oauth-container .bd .login-logo {
	margin: 10px 15px
}

.oauth-container .ft {
	display: none;
	font-weight: bold;
	padding: 30px 0 0 30px
}

.oauth-dialog .oauth-container .ft {
	display: block
}

.oauth-container .ft a {
	font-family: simsun;
	font-weight: normal
}

#promptDialog {
	height: 250px
}

#promptDialog .relevant-activateerror {
	display: block;
	width: 30px;
	height: 27px;
	margin: 50px auto 30px;
	background-position: -120px -200px
}

#promptDialog p {
	text-align: center;
	padding: 0 30px
}

#promptDialog p span {
	text-align: left;
	display: inline-block
}

#oauthCancelDailog {
	width: 450px
}

#oauthCancelDailog .bd {
	padding: 70px 0 60px;
	text-align: center;
	color: #666;
	font-size: 14px;
	font-weight: bold
}

#oauthCancelDailog .ft {
	text-align: center;
	height: 35px
}

#oauthCancelDailog .btn04 {
	margin: 0 5px
}